body {
    display: flex;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

#left {
    display: flex;
    flex-direction: column;
    flex: 30%;
    background-image: url(./bgimage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#right {
    display: flex;
    flex-direction: column;
    background-color: white;
    flex: 70%;
}

#forms {
    border-style: outset;
    border-left: none;
    border-right: none;
}

#hero,
#forms,
#signup {
    flex: 33%;
    padding: 25px;
}

#hero,
#signup {
    background-color: #E0DCDC;
}

#hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#forms{
    background-color: #F5F3F2;
}
#form {
    display: flex;
}

#container-one,
#container-two {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

#container-two {
    margin-left: 80px;
}

#submitButton {
    padding: 12px;
    width: 240px;
    border-radius: 6px;
    background-color: #1D5B79;
    color: white;
}